
/* CSS Document */
@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-family: inherit; font-size: 100%; text-align: left; vertical-align: baseline; }
input, button, select, textarea,a { outline: none }
img, a img { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }
* { margin: 0px; padding: 0px; }
/*global
----------------------------------*/
ul { list-style-type: none; }
a:link, a:visited { text-decoration: none; }
strong { font-weight: bold; }
em { font-style: normal; }
i { font-style: normal; }
/*公用样式
---------------------------------*/
.left { float: left; }
.right { float: right; }
.cls { clear: both; }
.small { font-size: .625em; }
.large { font-size: 1.25em; }
.hide { display: none; }
.strong { font-weight: bold; }
.center { text-align: center; }
.ofh { overflow: hidden }
.ti2 { text-indent: 2em; }
.b-bd { border-bottom: 1px dotted #e5e5e5; }
.bt2 { border-top: 2px solid #e5e5e5; }
/*公用 Margin
---------------------------------*/
.ma5 { margin: 5px; }
.mt5 { margin-top: 5px; }
.mr5 { margin-right: 5px; }
.mb5 { margin-bottom: 5px; }
.ml5 { margin-left: 5px; }
.ma10 { margin: 10px; }
.mt10 { margin-top: 10px; }
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }
.ma20 { margin: 20px; }
.mt20 { margin-top: 20px; }
.mr20 { margin-right: 20px; }
.mb20 { margin-bottom: 20px; }
.ml20 { margin-left: 20px; }
.mt8 { margin-top: 8px; }
.mt6 { margin-top: 6px; }
/*公用 padding
---------------------------------*/
.pa5 { padding: 5px; }
.pa6 { padding: 6px; }
.pt5 { padding-top: 5px; }
.pr5 { padding-right: 5px; }
.pb5 { padding-bottom: 5px; }
.pl5 { padding-left: 5px; }
.pa10 { padding: 10px; }
.pt10 { padding-top: 10px; }
.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }
.pl10 { padding-left: 10px; }
.pa20 { padding: 20px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pr20 { padding-right: 20px; }
.pb20 { padding-bottom: 20px; }
.pl20 { padding-left: 20px; }
.h5 { height: 5px; overflow: hidden; }
.h10 { height: 10px; overflow: hidden; }
.h15 { height: 15px; overflow: hidden; }
.h20 { height: 20px; overflow: hidden; }
.h25 { height: 25px; overflow: hidden; }
.h30 { height: 30px; overflow: hidden; }
.h40 { height: 40px; overflow: hidden; }
.h50 { height: 50px; overflow: hidden; }
.h60 { height: 60px; overflow: hidden; }
.h70 { height: 70px; overflow: hidden; }
.h80 { height: 80px; overflow: hidden; }
.h90 { height: 90px; overflow: hidden; }
.h100 { height: 100px; overflow: hidden; }
.h150 { height: 150px; overflow: hidden; }
/* 布局代码
--------------------------------*/
.mainbox { display: block; overflow: hidden; clear: both; _height: 1%; }
.radius-box { -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; position: relative; }
.hr { display: block; border-bottom: 1px dotted #aaa; clear: both; height: 10px; margin-bottom: 10px; }
